* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;       
    scroll-behavior: smooth;
 }

:root {
    --main-menu: #000000; 
    --menu-button: #2D2D2D;  
    --button: #131313;
    --font-color-light: #fff; 
}

body {
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
}
i, a, span {
    color: var(--font-color-light);
}

/* HEADER */
.main-menu {
    height: 4rem;

    display: flex;
    align-items: center;
    justify-content: space-between;

    background-color: var(--main-menu);    
}
.main-menu > img {
    width: 3.5rem;
    height: 3.5rem;
    margin-left: 1rem;
}
.open-menu {
    font-size: 2rem;
    padding: 1rem;
}
.close-menu {
    position:absolute;
    right: 0;
    top: 0;
    font-size: 2rem;
    margin-right: 1rem;
    padding: 1rem;
}
.menu {
    height: 100vh;
	width: 100vw;	
	
    position: fixed;
	top: 0;

	display: flex;
	justify-content: center;
	align-items: center;

	transition: .3s;
    background: rgba(0,0,0,0.9);
}

.menu.hide {
    display: none;
}


.menu li {
    list-style: none;

    display: flex;
    align-items: center;
    justify-content: center;
}
.menu li img {
    width: 2rem;
}

.menu a {    
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;

    font-size: 1rem;
    text-transform: uppercase;
    text-decoration: none;

    transition: .3s;
    cursor: pointer;
}
.menu a:hover{
    filter: brightness(.9);
}

.main-menu nav a img {
    width: 1.8rem;
    margin-right: 1rem;
}


/* BODY MAIN */
.main-content ul {
    list-style: none;
    text-align: center;
}

.main-content ul li {
    padding-bottom: 3rem;
    margin-bottom: 3rem;
    border-bottom: 1px solid;

    display: grid;
    place-items: center;
    justify-content: center;
}

.main-content h2 {
    margin: 1rem 0;
    background: lightgrey;
    padding: 1rem;
    width: 100%;
}

.main-content img {
    margin-bottom: 2rem;
}

.main-content a.btn {
    background: var(--button);

    text-decoration: none;
    font-size: 16px;
    text-transform: uppercase;

    padding: 1rem 3rem;
    border-radius: 8px;
    
    cursor: pointer;
    transition: .3s;
}
.main-content a.btn:hover {
    filter: brightness(.5);
}

/* FOOTER */

footer {
    width: 100%;
    background: #000000;
    height: 6rem;
    display: grid;

    place-items: center;
}
footer span {
    text-align: center;
    margin-top: 2rem;
    font-size: .7rem;
}

.social-media {
    list-style: none;
    padding: 0;
}
.social-media li {
    display: inline-block;
}
.social-media a{
    padding: .5rem;
    font-size: 1.5rem;
}
.arrow-up {
    position:absolute;
    right: 0;
    font-size: 2rem;
    margin: 10px;
}


/* MOBILE DEVICE */

@media (min-width:480px) and (max-width:1080px) {
    
    /* header */
    .main-menu {
        height: 7rem;
    }
    .main-menu > img {
        width: 5.5rem;
        height: 5.5rem;
    }

    .open-menu,
    .close-menu {
        font-size: 5rem;
    }

    .menu a {    
        font-size: 2.5rem;
    }    

    /* body main */
    .main-content ul {
        padding: 0;
    }
   
    .main-content a.btn {
        font-size: 3rem;
    }

    /* footer */
    footer {       
        height: auto; 
        padding: 2rem 2rem .5rem 2rem;      
    }
    footer .social-media a {        
        font-size: 3rem;
        padding: 1.1rem;
    }
 
    footer .arrow-up {
        font-size: 5rem;        
    }
}
